<h2> Editar Perfil </h2>
<%= form_with model: @user_profile, url: profiles_path, method: :patch do |f| %>
    <div class="mt-3">
        <%= f.label :about %>
        <%= f.text_area :about, placeholder: Profile.human_attribute_name(:about), class: 'input-primary' %>
        <%= form_error @user_profile, :about %>
    </div>

     <div class="mt-3">
        <%= f.label :privacy %>
        <%= f.select :privacy, Profile.privacies.keys.map { |privacy| [Profile.human_enum_name(:privacy, privacy), privacy] } %>
    </div>

    <%= f.submit 'Salvar' %>
<% end %>