<div class="min-h-screen bg-gray-50 py-8 px-4 w-full">
  <div class="max-w-6xl mx-auto">
    <%# Profile Header %>
    <div class="flex flex-col bg-white rounded-lg shadow-md p-6 mb-8">
      <div class="flex items-center">
        <h1 class="text-3xl font-bold text-gray-800"><%= @user_profile.nickname %></h1>
        <div class="flex ml-auto">
          <% if current_user == @user_profile %>
            <%= link_to 'Editar perfil', edit_profiles_path %>
          <% end %>
        </div>
      </div>
      <div>
        <% if current_user == @user_profile%>
          <%= link_to "Amigos #{@user_profile.accepted_friendships.count}", friendships_path, class: 'text-gray-500 font-medium hover:underline'%>
        <% else %>
          <p class="text-gray-500 font-medium">Amigos <%= @user_profile.accepted_friendships.count%></p>
          <% unless current_user.all_friends.include?(@user_profile)%>
            <%= button_to 'Mandar pedido de amizade', user_friendships_path(user_id: @user_profile.id)%>
          <% end %>
        <% end %>
      </div>
      
    </div>

    <% if @user_profile.profile.private_access? && current_user != @user_profile %>
      <span>Esse perfil é privado.<span>
    <% else %>

    <%# Anime List %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <%= render partial: 'anime_card', collection: @user_profile.stats, as: :stats%>
    </div>
    <% end %>
  </div>
</div>