<%= form_with model: anime do |f| %>
    <div>
        <%= f.text_field :title, placeholder: Anime.human_attribute_name(:title)%>
    </div>
    <div>
        <%= f.text_field :sinopse, placeholder: Anime.human_attribute_name(:sinopse)%>
    </div>
    <div>
        <%= f.select :status, Anime.statuses.keys.map { |status| [Anime.human_enum_name(:status, status), status] } %>
    </div>
    <div>
        <%= f.file_field :poster%>
    </div>
    <div>
        <%= f.number_field :quantity_episodes, placeholder: Anime.human_attribute_name(:quantity_episodes)%>
    </div>
    <%= f.submit 'Salvar'%>
<% end %>