<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Anime Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="w-full flex justify-center">
      <nav class="bg-white mx-auto shadow w-10/12 z-50">
        <div class="px-6 py-4">
          <div class="flex justify-between items-center">
            <div class="flex items-center">
              <span class="text-2xl font-bold text-indigo-600">AnimeTracker</span>
            </div>

            <% unless user_signed_in? %>
              <div class="flex items-center space-x-4">
                <%= link_to 'Login', new_user_session_path, class: "text-gray-600 hover:text-indigo-600" %>
                <%= link_to 'Criar Conta', new_user_registration_path, class: "bg-indigo-600 text-white px-6 py-2 rounded-lg hover:bg-indigo-700" %>
              </div>
            <% else %>
                <div class="flex items-center space-x-4">
                  <span class="mr-3"> <%= current_user.nickname %></span>
                  <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'text-black' %> 
                </div>
            <% end %>
          </div>
        </div>
      </nav>
      <div> 
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <main class="w-10/12 mx-auto mt-12 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
